*{
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e); /* Черный + тёмно-фиолетовый */
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.block {
    background-color: rgba(0, 0, 0, 0.6); 
    border: 1px solid #8e44ad; 
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 0 20px rgba(142, 68, 173, 0.5); 
    text-align: center;
}

.block h3 {
    margin-bottom: 20px;
    color: #dcd6f7;
}

input.number {
    width: 90%;
    margin: auto;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #8e44ad;
    border-radius: 8px;
    background-color: #1e1e2f;
    color: #ffffff;
    font-size: 16px;
    outline: none;
}

input.number::placeholder {
    color: #aaa;
}

.chat {
    min-height: 20px;
    margin-bottom: 15px;
    color: #f1c40f;
}

button.submit {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.submit:hover {
    background-color: #732d91;
}
